@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-bullet {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Хедер */

.page-header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 64px;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: -6px;
  z-index: 1
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 64px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 64px;
}

.logo {
  display: block;
}

.header-logo-img {
  margin: 0 28px 0 70px;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  margin: 0;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  justify-content: center;
  width: 268px;
  height: 64px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-user-search {
  width: 44px;
  height: 64px;
  background-image: url("../images/icons/search.svg");
}

.navigation-user-like {
  width: 44px;
  height: 64px;
  background-image: url("../images/icons/like.svg");
}

.navigation-user-button {
  width: 160px;
  height: 36px;
}

.navigation-button {
  width: 92px;
  height: 20px;
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* Раздел Герой Главной страницы */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 485px;
  background-image: url("../images/img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #3F5E72;
  margin: 0;
  padding: 0;
}

.hero-logo-img {
  margin: 51px 371px 82px 371px;
}

/* Раздел Преимущества */

.advantages {
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 261px;
  background-color: #FFFFFF;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  width: 100%;
}

.hero-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.hero-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 25px 0;
}

/* Раздел Преимущества Список */

.advantages-item-text {
  width: 400px;
  height: 385px;
  background-color: #82B3D3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-text .advantages-title {
  color: #FFFFFF;
}

.advantages-item-text .advantages-description {
  color: #FFFFFF;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.advantages-item-light-theme {
  width: 400px;
  height: 385px;
  background-color: #83B3D31F;
}

.advantages-item-dark-theme {
  width: 400px;
  height: 385px;
  background-color: #83B3D333;
}

.advantages-photo {
  margin: 0;
  background-color: #3F5E72;
}

.advantages-item img {
  vertical-align: middle;
}

/* Раздел Рекомендации */

.recommendations {
  text-align: center;
}

.recommendations-intro-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.recommendations-intro-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.recommendations-list {
  display: flex;
}

.recommendations-item-dark-theme {
  width: 400px;
  height: 385px;
  background-color: #83B3D31F;
}

.recommendations-item-light-theme {
  width: 400px;
  height: 385px;
  background-color: #FFFFFF;
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.recommendations-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* Раздел Поиск */

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
}

/* Раздел Подписка */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 414px;
  background-image: url("../images/img/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #3F5E72;
}

.main-inner .subscribe {
  background-image: none;
  background-color: #FFFFFF;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
  border: 0;
}

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 120px;
  background-color: #FFFFFF;
  text-align: center;
}

.footer-contacts-address-phone {
  width: 331px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.main-inner .subscribe-title {
  color: #000000;
}

.inner-header-title {
  margin: 0;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 0 54px;
  padding: 0;
  border: 0;
}

.main-inner .subscribe-description {
  color: #333333;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 0;
  border: 0;
}

.field {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  max-width: 452px;
  max-height: 52px;
  margin: 0;
  padding: 14px 213px 14px 20px;
  border: 0;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
  max-width: 232px;
  max-height: 52px;
  margin: 0;
  padding: 8px 50px;
  border: 0;
}

.filter-container {
  width: 1200px;
  height: 412px;
  background-image: url("../images/img/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3F5E72;
}

.filter {
  padding: 35px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16pt;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.range-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.range-wrapper-inputs {
  display: flex;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: 0;
  text-transform: uppercase;
}

.button-throw-off {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
}

.found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog {
  padding: 50px 70px 60px 70px;
}

.accommodation-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accommodation-card {
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.accommodation-card-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.accommodation-card-price-container {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.accommodation-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
}

.button-more {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
}

.button-favourites {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
}

.accommodation-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
}
